<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Estimations</title>
</head>
<body>
    <h1>All Estimations</h1>
     <a href="/">Back to Home</a>
    {% for tester_name, estimations in grouped_estimations.items() %}
        <h2>Tester: {{ tester_name }}</h2>
        <table border="1">
            <tr>
                <th>Feature</th>
                <th>Создание проверок</th>
                <th>Прохождение проверок</th>
                <th>Прохождение ретеста</th>
                <th>Общее время</th>
            </tr>
            {% for estimation in estimations %}
                <tr>
                    <td>{{ estimation.feature_name }}</td>
                    <td>{{ estimation.writing_checks }}</td>
                    <td>{{ estimation.execution_checks }}</td>
                    <td>{{ estimation.execution_retests }}</td>
                    <td>{{ estimation.estimate_testing }}</td>
                </tr>
            {% endfor %}
        </table>

    {% endfor %}
</body>
</html>
