<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estimate Testing Time</title>
</head>
<body>
    <h1>Калькулятор эстимации тестирования</h1>
    <form action="/" method="post">
        <label for="tester_name">Tester Name:</label>
        <select id="tester_name" name="tester_name" required>
            <option value="Женя">Женя</option>
            <option value="Сергей">Сергей</option>
            <option value="Зарина">Зарина</option>
            <option value="Тимур">Тимур</option>
        </select><br><br>
        <label for="feature_name">Feature:</label>
        <input type="text" id="feature_name" name="feature_name" required><br><br>
        <label for="writing_checks">Время создания проверок, мин:</label>
        <input type="number" id="writing_checks" name="writing_checks" step="any" required><br><br>
        <label for="execution_checks">Время прохождение проверок, мин:</label>
        <input type="number" id="execution_checks" name="execution_checks" step="any" required><br><br>
        <label for="execution_retests">Время проведения ретеста, мин:</label>
        <input type="number" id="execution_retests" name="execution_retests" step="any" required><br><br>
        <input type="submit" value="Расчёт">
    </form>

    <h2>Estimated Testing Time: {{ result }} минут </h2>
    <a href="/estimations"><button type="button">View Estimations</button></a>


</body>
</html>
